.contact-filter {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 4px;

    input{
        // background-color: $p-clr1;
        border: 1px solid $pinkish;
        // border: 1px solid $almost-black;
        padding: 5px 10px;
        border-radius: 8px;
    }
}