.contact-index-main-container {
    padding-top: 8px;

    .contact-index-actions {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .add-contact {
            justify-self: end;
            align-self:center;
        }

    }
}