.contact-details {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    grid-template-rows: repeat(5, 60px);
    justify-items: start;
    gap: 5px;
    padding-top: 24px;

    img {
        grid-column: 1/2;
        grid-row: 2;
        max-width: 250px;
    }

    .name, .email, .phone {
        grid-column: 2/3;
    }
    
    .name {
        grid-row: 2;
    }
    
    .email {
        grid-row: 3;
    }
    
    .phone {
        grid-row: 4;
    }

    .transfer-funds {
        grid-column: 3;
        grid-row: 2;
        width: 100%;

        .transfer-form {
            display: flex;
            gap: 8px;
        }
    }
    
    .transaction-list {
        grid-column: 3;
        grid-row: 3;
        
    }
    
    a {
        grid-column: 3;
        grid-row: 5;
        justify-self: end;
        align-self: flex-end;
    }
}

@media (max-width:$break-narrow) {
    .contact-details {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: repeat(5, 60px);
        justify-items: start;
        gap: 8px;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
    
        img {
            max-width: 30vw;
            justify-self: flex-end;
        }

        .transfer-funds {
            width: 100%;
    
            .transfer-form {
                display: flex;
                gap: 8px;
            }
        }
        
        a {
            justify-self: end;
            align-self: flex-end;
        }
    }
}