.home-page {
    background-color: $blackish;

    .home-page-container {
        display: grid;
        gap: 8px;
        margin: 8px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        h1 {
            grid-column: 1/2;
            color: $whiteish;
            text-shadow: -1px -1px 1px $bluish;
            font-size: 4.2rem;
            font-weight: 600;
            margin-right: 40px;
        }
        
        .hero-desc {
            grid-column: 2/3;
            color: $whiteish;
            align-self:center;
            font-size: 1.2rem;

            .start-btn {
                margin: 20px 0;
                height: 2.5rem;
                width: 100%;
            }
        }

        .home-page-tiles {
            grid-column: 1/3;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 10px;

            * {
                border-radius: 8px;
                padding: 8px;
            }

            .tile-name {
                font-size: 1.5rem;
            }
            
            .tile-data {
                align-self: flex-end;
                font-size: 2.5rem;
                font-weight: 600;
            }

            .tile-rate {
                grid-column: 1/2;
                background-color: $pinkish-bgc;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            
            .tile-size {
                grid-column: 1/2;
                background-color: $bluish;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }

            .tile-chart {
                grid-column: 2/3;
                grid-row: 1/3;
                background-color: rgba(255, 255, 255, 0.129);
                display: flex;
                align-items: center;
                justify-content: center;

                #line-chart {
                    padding: 0;
                    max-height: 40vh;
                }

            }
        }
    }
}

@media (max-width:$break-narrow) {
    .home-page {
        background-color: $blackish;
    
        .home-page-container {
            gap: 8px;
            display: flex;
            flex-direction: column;
            
            h1 {
                color: $whiteish;
                text-shadow: -1px -1px 1px $bluish;
                font-size: 3.4rem;
                font-weight: 600;
                margin: 0;
            }
            
            .hero-desc {
                color: $whiteish;
                align-self:center;
                font-size: 1.2rem;
    
                .start-btn {
                    margin: 20px 0;
                    height: 2.5rem;
                    width: 100%;
                }
            }
    
            .home-page-tiles {
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                * {
                    border-radius: 8px;
                    padding: 8px;
                }
    
                .tile-name {
                    font-size: 1.5rem;
                }
                
                .tile-data {
                    align-self: flex-end;
                    font-size: 2.5rem;
                    font-weight: 600;
                }
    
                .tile-rate {
                    background-color: $pinkish-bgc;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                }
                
                .tile-size {
                    background-color: $bluish;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                }
    
                .tile-chart {
                    background-color: rgba(255, 255, 255, 0.129);
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    #line-chart {
                        padding: 0;
                        max-height: 40vh;
                    }
    
                }
            }
        }
    }
}