// Colors

//Primery

$p-clr1: #f7931a;
$p-clr2: #F67E7E;
$p-clr3: white;

$blackish: #332C39;
$pinkish: #C92C6D;
$bluish: #609EA2;
$whiteish: #F0EEED;

$bluish-hover:#578e92;
$bluish-active:#467376;

$pinkish-hover:#a8255c;
$pinkish-active:#871d49;

//Secondery




$almost-white: #faf6f6;
$almost-black: #393737;

$mobile-padding: 15px;
$narrow-padding: 35px;
$normal-padding: 165px;

$layoutPadding: 20px;

$break-narrow: 560px;
$break-normal: 980px;
$break-wide: 1400px;