// Colors

$blackish: #332C39;
$pinkish: #C92C6D;
$bluish: #609EA2;
$whiteish: #F0EEED;

$bluish-hover:#578e92;
$bluish-active:#467376;

$pinkish-hover:#a8255c;
$pinkish-active:#871d49;

//layout

$mobile-padding: 15px;
$narrow-padding: 35px;
$normal-padding: 165px;

$layoutPadding: 20px;

$break-narrow: 560px;
$break-normal: 980px;
$break-wide: 1400px;