* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Segoe UI';
}

::selection {
    background-color: $pinkish;
    color: $whiteish;
}


body {
    font-size: rem(16px);
    margin: 0;
    margin: auto;
    color: $blackish;
    font-family: 'Segoe UI';
    background-color: $whiteish;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1{
    font-size: 1.5rem;
    // line-height: 56px;
    font-family: 'Segoe UI';
    &.large{
        font-size: 1.7rem;
        // line-height: 100px;
    }
}
h2{
    font-size: 1.3rem;
    // line-height: 48px;
    font-family: 'Segoe UI';
}
h3{
    font-size: 1.1rem;
    // line-height: 28px;
    font-family: 'Segoe UI';
}

img {
    width: 100%;
}

p {
    font-size: 15px;
    line-height: 25px;
    &.large{
        font-size: 18px;
        line-height: 28px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    // text-decoration: underline;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;


    .app-main-container {
        flex-grow: 1;

        // max-width: 1500px;
        margin: 0;
        padding: 0;
        
    }
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 4px 6px;
    border: none;
    border-radius: 3px;
    height: fit-content;
    width: fit-content;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;

    &.btn-bluish {
        background-color: $bluish;
        color: $whiteish;

        &:hover {
            background-color:$bluish-hover;
        }
        &:active {
            background-color:$bluish-active;
        }
    }

    &.btn-pinkish {
        background-color: $pinkish;
        color: $whiteish;

        &:hover {
            background-color:$pinkish-hover;
        }
            &:active {
            background-color:$pinkish-active;
        }
    }
}